body {
    background-image: linear-gradient( 90deg, rgba(0, 0, 0, 0.7) 20%, rgb(5, 82, 112) 50%, rgba(0, 0, 0, 0.7) 90%);
    width: 100%;
    height: 100%;
}

.OverTitle {
    text-align: center;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    margin-top: 5%;
    font-weight: 800;
}

.ziChanSum {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    color: antiquewhite;
}

.dataAnalyse {
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.dataSuggestion {
    text-align: center;
}

.suggest {
    font-size: 70px;
    color: #e43e68;
    font-weight: 800;
}

.submitDiv {
    text-align: center;
}

#yourName {
    text-align: center;
    height: 40px;
}

#submitData {
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: azure;
    font-weight: 500;
    background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
}

.tiaoZhuan {
    height: 30px;
    text-align: center;
    margin-top: 30px;
}

.tiaoZhuanButton {
    height: 60px;
    width: 90px;
    border-radius: 10px;
    font-size: 20px;
}

#paihangBang {
    background-color: #ff6868;
}

#index {
    background-color: aqua;
    margin-left: 50px;
}